body {
    background-color: #ffecd1;
}
html{
    scroll-behavior: smooth;
}
.topnav{
    display: flex;
    width: 100%;
    position: sticky;
    background-color: #ffecd1;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    justify-content: space-between;
    top: 0;
    z-index: 2;
    border-radius: 10px;
}
.left-hug{
    display: flex;
    align-items: center;
}
.right-hug{
    display: flex;
    align-items: center;
}
.icons{
    width: 40px;
}
.titles{
    font-size: 48px;
    font-weight: 600;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px;
    margin-top: 10%;
    border-radius: 10px;
    margin-bottom: 10%;
}
.border{
    border-bottom: black;
    border-style: solid;
    width: 200%;
    left: -50%;
    position: relative;
}
.containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    background-color: #A68A64;
}

.box-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #656D4A; 
    color: #EDE0D4;
    z-index: 1;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    box-shadow:
    4px 0 black,    /* right */
    -4px 0 black,   /* left */
    0 4px black,    /* bottom */
    0 -4px black;   /* top */
}
.box-content{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.self-photo{
    width: 375px;
    border-radius: 100px;
}
.personal-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    background-color: #EDE0D4;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: 10px;
    z-index: inherit;
    box-shadow:
    4px 0 black,    /* right */
    -4px 0 black,   /* left */
    0 4px black,    /* bottom */
    0 -4px black;   /* top */
}
.text{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0;
    font-weight: bold;
}
.icon-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 200px;
    align-items: center;
    position: relative;
    background-color: #EDE0D4;
    z-index: inherit;
    padding: 5px;
    border-radius: 10px;
    box-shadow:
    4px 0 black,    /* right */
    -4px 0 black,   /* left */
    0 4px black,    /* bottom */
    0 -4px black;   /* top */
}
.skill-icon{
    width: 40px;
    height: 40px;
}
.project-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: 10px;
}
.project-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EDE0D4;
    align-items: center;
    position: relative;
    width: 45%;
    padding: 5px;
    border-radius: 10px;
    z-index: inherit;
    box-shadow:
    4px 0 black,    /* right */
    -4px 0 black,   /* left */
    0 4px black,    /* bottom */
    0 -4px black;   /* top */
}